In [1]:
#the for loop and while loop
#2.for loop
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

# functions

In [2]:
#funstions
def sum (a,b):
    total = (a + b)
    return total
n = sum(5,8)
print("total",n)

total 13

In [3]:
def total_expense(exp):
    total=0
    for items in exp:
        total=total+items
    return total
ali_exp= [200,500,600,4999,444]
bam_exp= [400,300,200,400,1000]

total_ali_exp=total_expense(ali_exp)
total_bam_exp=total_expense(bam_exp)

print("total_ali_exp",ali_exp)
print("total_bam_exp",bam_exp)

total_ali_exp [200, 500, 600, 4999, 444]
total_bam_exp [400, 300, 200, 400, 1000]

In [9]:
#the logic of the documentation strings
def sum (a,b=0):
    print("a",a)
    print("b",b)
    
    total = (a + b)
    print('total inside the function',total)
    return total
n = sum(5)

a 5
b 0
total inside the function 5

In [10]:
#the logic of the documentation strings
def sum (a,b=0):
    print("a",a)
    print("b",b)
    
    total = (a + b)
    print('total inside the function',total)
    return total
 
n = sum(5)

a 5
b 0
total inside the function 5

# dictonaries

In [11]:
#this is read in string file form
f=open("c://CODE//data//book.text","r")
s=f.read()
s

'{"alban": {"name": "alban", "address": "1 street kampala", "phone number": 562142782777}, "musa": {"name": "musa", "address": "1 street kampala", "phone number": 3872737387}}'

In [19]:
type(s)

str

In [12]:
#string file converted to the dictionary file form
import json
book=json.loads(s)
book

{'alban': {'name': 'alban',
  'address': '1 street kampala',
  'phone number': 562142782777},
 'musa': {'name': 'musa',
  'address': '1 street kampala',
  'phone number': 3872737387}}

In [20]:
type(book)

dict

In [14]:
#filtering out the data i need
book["alban"]

{'name': 'alban', 'address': '1 street kampala', 'phone number': 562142782777}

In [17]:
#accessing the phone number of alban
book["alban"]["phone number"]

562142782777

In [21]:
#accessing the address of musa
book["musa"]['address']

'1 street kampala'

In [23]:
#reading he whole dictinary using the loop
for persons in book:
    print(book[persons])

{'name': 'alban', 'address': '1 street kampala', 'phone number': 562142782777}
{'name': 'musa', 'address': '1 street kampala', 'phone number': 3872737387}

In [32]:
class human:
    def _init_ (self,o,n):
        self.name = n
        self.occupation = o

def do_work(self):
    if self.occupation == "tannis player":
        print(self.name, "a tannis player")
    elif self.occupation == "a actor":
        print(self.name,"plays films")
def speaks(self):
    print(self.name,"says that how are you alban???")

alban = human()
alban.do_work()
alban.speaks()

TypeError: human() takes no arguments

In [37]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/flyandlure/datasets/master/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [39]:
df.shape

(20640, 10)

In [40]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND