# variables

In [1]:
#how to deal wuth the varriables
x=2500
y=3600
z=7500
total=x+y+z
print(total)

13600

In [2]:
division=((x+y)/z)
print(division)

0.8133333333333334

In [9]:
#below is the monthly expenditure
clothes=10000
food=200000
school_fees=50000
tansport=10000

k=(["clothes","food","school_fees","transport"])
print(k)

['clothes', 'food', 'school_fees', 'transport']

In [13]:
#NUMBERS
#SOLVING SIMPLE PROBLEM STATEMENT BELOW
#distance,time,speed
distance_kpl=400
distance_ntu=95

#toal distance
tld=distance_kpl+distance_ntu
print(tld)

495

In [21]:
#THEREFORE,FIND TIME IF THE SPEED IS PROVIDED
speed=100

#time=distance/sped
time=(tld/speed)
print(time)

4.95

In [22]:
#how to round off my number
round(4.95,1)

5.0

# numbers

In [16]:
#continuation with the numbers
48+20

68

In [17]:
647184/637

1015.9874411302983

In [20]:
#i need to have only two decimal places
round(1015.9874411302983,1)

1016.0

In [ ]:
#types of numbers 
integer numbers eg.(1,4,67)
float numbers eg.(0.4,6.7,10.4)

 # STRINGS

In [23]:
string="hello how are you"
string

'hello how are you'

In [24]:
#how to access the elements of the word
#it is by use of the indices startng from (0,...)

string[0]

'h'

In [25]:
string[0:9]

'hello how'

In [26]:
string[9:]

' are you'

In [29]:
#adding the string to the integer
stg=("this the biggest number in the set,")
num=102
#stg+num -)this is wrong because python can not concanate the string to integer

#first convert the num to string form
str(102)

'102'

In [31]:
#therefoe
stg+str(num)

'this the biggest number in the set,102'

In [36]:
#adding two words or concanating the words
f="how"
j="alban?" 
#f+j  -)this is wrong instead;
f+" "+j

'how alban?'

# lists

In [37]:
#list num one
items=["man","girl","woman","edger","goats"]
items[4]

'goats'

In [45]:
#adding the other item in the list
items.append("cows")
print(items)

['man', 'cows', 'cows', 'girl', 'woman', 'edger', 'goats', 'cows', 'cows', 'cows', 'cows']

In [43]:
items.insert(1,"cows")
items

['man', 'cows', 'cows', 'girl', 'woman', 'edger', 'goats', 'cows', 'cows']

In [46]:
len(items)

11